{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>à propos</h6>
            <p class="text-justify">Mini projet Django - GTA</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Web</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Mobile</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Cloud</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Sécurité web</a></li>
              <li><a href="http://scanfcode.com/category/android/">Machine learning</a></li>

            </ul>
          </div>


        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text"> &copy; Juin 2021
         <a href="#"></a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>