{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<img id="logo" src="{% static 'images/logo.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user' %}">User</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'connect' %}">Admin</a>
      </li>
        </li>
        <li class="nav-item active">
        <a class="nav-link" style="color: orangered;" href="{% url 'quitter' %}">Se déconnecter</a>
      </li>


    </ul>
  </div>
</nav>
    </ul>
  </div>
</nav>