{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GTA</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/connect.css' %}">

</head>
<body>





<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="Admin" />
    </div>

    <!-- Login Form -->
    <form action="" method="POST">

           {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Nom d'utilisateur">

      <input type="password" id="password1" class="fadeIn third" name="password1" placeholder="Mot de passe">

      <input type="submit" class="fadeIn fourth" value="Se connecter">
    </form>
      {% for message in messages %}

          <p id="messages" style="color:darkred">{{ message }}</p>

      {% endfor %}

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'inscription' %}">Créer un nouveau compte admin</a>

    </div>

  </div>
</div>


</body>
</html>
