{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GTA</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/inscription.css' %}">

</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">


<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Créer un nouveau compte</h4>

	<p>
		<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   S'inscrire avec Twitter</a>
		<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   S'inscrire avec facebook</a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<form  method="POST" action="" >
        {% csrf_token %}




	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
          {{ form.username }}
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        {{ form.email }}
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        {{ form.password1 }}
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
      {{ form.password2 }}
    </div> <!-- form-group// -->

        {{ form.errors }}

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Créer compte  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Avez-vous déjà un compte? <a href="{% url 'connect' %}">Se connecter</a> </p>
</form>

          {% for message in messages %}

          <p id="messages" style="color:darkred" >{{ message }}</p>

      {% endfor %}

</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

<br><br>
<article class="bg-secondary mb-3">
<div class="card-body text-center">
    <h3 class="text-white mt-3">GTA</h3>
<p class="h5 text-white">Formations en ligne <br> Web, mobile, cloud, sécurité web et machine learning </p>   <br>

</div>
<br><br>
</article>
<script>

    var form_fields=document.getElementsByTagName("input");
    form_fields[1].placeholder="Nom d'utilisateur";
    form_fields[1].className="form-control";
    form_fields[1].type="text";
    form_fields[2].placeholder="Adresse email";
    form_fields[2].className="form-control";
    form_fields[2].type="email";
    form_fields[3].placeholder="Mot de passe";
    form_fields[3].className="form-control";
    form_fields[3].type="password";
    form_fields[4].placeholder="Confirmer mot de passe";
    form_fields[4].className="form-control";
    form_fields[4].type="password";
</script>

</body>
</html