{% extends 'main2.html' %}

{%  block contenu %}


<br>
<div class="row">


	<div class="col-md-7">
		<h5>Toutes les formations</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajouter_formation' %}">Ajouter une formation</a>
			<table class="table table-sm">
				<tr>

					<th>Titre</th>
					<th>Categorie</th>
                    <th>Logo</th>

					<th>Etat</th>
					<th>Mise à jour</th>
					<th>Supprimer</th>

				</tr>
				{% for formation in formations %}
				<tr>

				<th>{{formation.titre}}</th>
				<th>{{formation.categorie}}</th>


                <th>
                    {% if formation.logo %}
                    <img src="{{formation.logo.url}}"  id="image" width="40" height="40"/>
                    {% endif %}


                </th>
				<th>{{formation.etat}}</th>
					<th><a  class="btn btn-sm btn-success" href="{% url 'modifier_formation' formation.id %}" >  Modifier </a> </th>
                 <th><a  class="btn btn-sm btn-danger" href="{% url 'supprimer_formation' formation.id %}" >  Supprimer </a> </th>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}