{% extends 'main2.html' %}

{%  block contenu %}

<div class="row" >
<div class="col-md-6" >
    <div class="card card-body" >
<form action="/ajouter_formation/" method="POST"  enctype="multipart/form-data"   >

 {% csrf_token %}


    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Ajouter formation</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-4">
        {{ form.titre }}
    </div>
  </div>

            <div class="form-group row">
    <label class="col-sm-2 col-form-label">Logo</label>
    <div class="col-sm-4">
       {{form.logo}}

    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Catégorie</label>
    <div class="col-sm-4">
        {{ form.categorie }}
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Etat</label>
    <div class="col-sm-4">
       {{ form.etat }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Confirmer</button>
    </div>
  </div>
    </div>

</form>
        </div>
   </div>
</div>

{% endblock %}