{% extends 'main2.html' %}

{%  block contenu %}

<div class="row" >
<div class="col-md-6" >
    <div class="card card-body" >
<form action="/modifier_formation/{{ formation.id }}" method="POST"  enctype="multipart/form-data"   >
    {% csrf_token %}


    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Modifier formation</h3>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-4">
        <input type="text" name="titre" id="titre" required maxlength="20" value="{{ formation.titre }}"/>
    </div>
  </div>

            <div class="form-group row">
    <label class="col-sm-2 col-form-label">Logo</label>
    <div class="col-sm-4">
        {% if formation.logo %}
        <img src="{{formation.logo.url}}"  id="image" width="30" height="30"/>
        {% endif %}
        <input type="file" name="logo"   maxlength="254" value="Changer" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Catégorie</label>
    <div class="col-sm-4">

        <select name="categorie" id="categorie"  >

<option value="{{ formation.categorie }}" selected >{{ formation.categorie }}</option>
<option value="web"  >web</option>

<option value="mobile"  >mobile</option>

<option value="cloud"  >cloud</option>

<option value="securité web"  >securité web</option>

<option value="machine learning"  >machine learning</option>

</select>

    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Etat</label>
    <div class="col-sm-4">

        <select name="etat" id="etat"  >

<option value="{{ formation.etat }}" selected >{{ formation.etat }}</option>
<option value="activé" >activé</option>
 <option value="non activé"  >non activé</option>

</select>

    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Modifier</button>
    </div>
  </div>
    </div>

</form>
        </div>
   </div>
</div>

{% endblock %}