{% extends 'main2.html' %}

{%  block contenu %}
    
  <div class="row" >
<div class="col-md-6" >
    <div class="card card-body" >
<p>Voulez-vous supprimer cette formation?</p>
<form action="{% url 'supprimer_formation' item.id %}" method="post" >
    {% csrf_token %}
    <a  class="btn btn-warning" href="{% url 'home' %}" >Annuler</a>
    <input class="btn btn-danger" type="submit" name="confirmer" >

</form>
        </div>
   </div>
</div>

{% endblock %}