{% extends 'main.html' %}

{%  block content %}


<br>
<div class="row">


	<div class="col-md-7">
    <form method="get">

        {{ myFilter.form }}

        <button class="btn btn-primary" type="submit" >Recherche</button>

    </form>
    <hr>
		<h4>Toutes les formations</h4>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>

					<th>Titre</th>
					<th>Categorie</th>
                    <th>Logo</th>

					<th>Etat</th>


				</tr>
				{% for formation in formations %}
				<tr>

				<th>{{formation.titre}}</th>
				<th>{{formation.categorie}}</th>


                <th>

                    {% if formation.logo %}
                    <img src="{{formation.logo.url}}"  id="image" width="40" height="40"/>

                    {% endif %}

                </th>
				<th>{{formation.etat}}</th>

				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>


    <script>

    var form_fields=document.getElementsByTagName("input");
    form_fields[0].placeholder="Votre recherche ici";



</script>


{% endblock %}